$main-color: #f2f3ff;
$link-hover-color: rgb(0, 68, 177);

.app {
  background-color: $main-color;
}

.body {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.fas, .fab {
  color: black;
}
.fas:hover, .fab:hover {
  color: red;
}

.nav {
  background-color: $main-color;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 70px;
  z-index: 9999;
}

.navbar-nav {
  background-color: #f2f3ffcb;
  .fas:hover {
    color:black;
  }
}

/* SOCIAL */
.social {
  background-color: $main-color;
  position: sticky;
  top: 70%;
  width: 0px;
  margin-left: 2%;
}
.social a {
  left: 80%;
  position: relative;
}
.social a:hover {
  top: -2px;
}
.social a:visited {
  color: black;
}

/* VERTICAL LINE */
.vl {
  border-left: 1px solid rgb(0, 0, 0);
  height: 150px;
}

/* INTRO */
.intro {
  text-align: center;
  margin-top: -10%;
}
.intro h1 {
  font-size: 100px;
  font-weight: lighter;
}
.intro h2 {
  font-size: 50px;
  font-weight: lighter;
}
.intro h6 {
  font-size: 30px;
  font-weight: lighter;
}
.intro p {
  font-size: 30px;
  font-weight: lighter;
}

/* SECTION */
.section {
  text-align: left;
  padding: 40px;
}
.section h1 {
  font-weight: lighter;
}
.section h5 {
  font-size: 25px;
  font-weight: 200;
}

/* ABOUT */
.about h2 {
  font-size: 18px;
  font-style: oblique;
  font-weight: 400;
}
.about h3 {
  font-size: 16px;
  font-weight: 300;
}
.about h6 {
  font-size: 14px;
  font-weight: 200;
}
.about p {
  font-weight: 300;
}
.about img {
  width: 100%;
  border: 1px solid;
  border-color: $main-color;
  border-radius: 20%;
  opacity: 95%;
}

/* CONTACT */
.contact {
  text-align: center;
  padding: 40px;
}
.contact h1 {
  font-size: 50px;
  font-weight: lighter;
}

/* FOOTER */
.footer {
  font-weight: lighter;
  font-size: 16px;
  padding: 20px;
}
.footer a {
  text-decoration: none;
  color: black;
}
.footer a:visited {
  color: black;
}

/* PROJECTS */
.projects img {
  width: 95%;
  height: 16rem;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border: 1px solid;
  border-color: $main-color;
  border-radius: 5px;
  padding: 2px;
}
.projects a:visited {
  color: black;
}
.desc {
  font-size: 14px;
  font-weight: 400;
}
.lang {
  color: rgb(38, 75, 143);
  font-weight: 600;
  font-size: 12px;
  margin: 1px;
}

/* VERTICAL TABS */
.tab button {
  background-color: inherit;
  padding: 12px 10px;
  width: 60%;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: solid 1px;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 200;
  margin: 10px;
}
.tab button:hover {
  color: white;
  background-color:rgba(0, 0, 0, 0.795);
}
.tab button:focus {
  border: none;
  color: white;
  background-color:rgba(0, 0, 0, 0.795);
  outline: none;
}
.tab-content {
  float: left;
  padding: 0px 12px;
  width: 70%;
  height: 300px;;
}
.tab-content h1 {
  font-size: 24px;
  font-weight: 400;
}
.tab-content h2 {
  font-size: 16px;
  font-weight: 300;
}
.tab-content h3 {
  font-size: 14px;
  font-weight: 300;
}

.right-divider {
  border-right: solid 1px;
}

.cert {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: black
}
.cert:hover {
  color: white;
  background-color:rgba(0, 0, 0, 0.795);
  text-decoration: none;
}
.experience h3 {
  font-size: 18px;
  font-style: oblique;
}
.experience h4 {
  font-size: 30px;
  font-weight: 200;
}
.experience h5 {
  font-size: 18px;
  font-weight: 300;
}
.experience h6 {
  font-size: 14px;
  font-weight: 200;
}
.experience p {
  font-size: 16px;
  font-weight: 300;
}

@import "custom";