.app {
  background-color: rgb(242, 243, 255);
}

.body {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

/* NAVIGATION BAR */
.nav {
  background-color: rgb(242, 243, 255);
  position: sticky;
  top: 0px;
  width: 100%;
  height: 70px;
  align-items: center;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: rgb(0, 0, 0)
}

.nav-item:hover {
  color: red;
  cursor: pointer;
}

/* SOCIAL */
.social {
  background-color: rgb(242, 243, 255);
  position: sticky;
  top: 70%;
  width: 10px;
  margin-left: 2%;
}
.social a {
  color: black;
  left: 80%;
  position: relative;
  margin-bottom: -50px;
}
.social a:hover {
  color: red;
  top: -2px;
  text-decoration: none;
}
.social a:visited {
  color: black;
}
.vl {
  border-left: 1px solid rgb(0, 0, 0);
  height: 150px;
}

/* INTRO */
.intro {
  text-align: center;
  margin-top: -10%;
}
.intro h1 {
  font-size: 100px;
  font-weight: lighter;
}
.intro h2 {
  font-size: 50px;
  font-weight: lighter;
}
.intro h6 {
  font-size: 30px;
  font-weight: lighter;
}
.intro p {
  font-size: 30px;
  font-weight: lighter;
}

/* SECTION */
.section {
  text-align: left;
  padding: 40px;
}
.section h1 {
  font-weight: lighter;
}

/* CONTACT */
.contact {
  text-align: center;
  padding: 40px;
}
.contact h1 {
  font-size: 50px;
  font-weight: lighter;
}

/* FOOTER */
.footer {
  font-weight: lighter;
  padding: 10px;
}